/*
 * Button mixin- creates 3d-ish button effect with correct 
 * highlights/shadows, based on a base color.
 */
html {
  background: white; }

/* Links */
a {
  color: #0073e6; }
a:hover, a:active, a:focus {
  color: #00264d; }

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover {
  color: #00264d; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #0074a3; }

input[type=radio]:checked:before {
  background: #0074a3; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
  color: #00264d; }

/* Core UI */
.wp-core-ui .button-primary {
  background: #0074a3;
  border-color: #005070;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #00aaef, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #00aaef, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #00577a;
  border-color: #003e56;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #0098d6, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #0098d6, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:active {
  background: #00577a;
  border-color: #003e56;
  color: white;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
  color: #c7ced1 !important;
  background: #00577a !important;
  border-color: #003e56 !important;
  text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
  color: whitesmoke;
  background-color: #0074a3; }
.wp-core-ui .wp-ui-text-primary {
  color: #0074a3; }
.wp-core-ui .wp-ui-highlight {
  color: black;
  background-color: #d6ebff; }
.wp-core-ui .wp-ui-text-highlight {
  color: #d6ebff; }
.wp-core-ui .wp-ui-notification {
  color: whitesmoke;
  background-color: #003870; }
.wp-core-ui .wp-ui-text-notification {
  color: #003870; }
.wp-core-ui .wp-ui-text-icon {
  color: #001933; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: whitesmoke;
  background-color: #0074a3; }

.view-switch a.current:before {
  color: #0074a3; }

.view-switch a:hover:before {
  color: #003870; }

.post-com-count:hover:after {
  border-top-color: #0074a3; }

.post-com-count:hover span {
  color: whitesmoke;
  background-color: #0074a3; }

strong .post-com-count:after {
  border-top-color: #003870; }

strong .post-com-count span {
  background-color: #003870; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #0074a3; }

#adminmenu a {
  color: whitesmoke; }

#adminmenu div.wp-menu-image:before {
  color: #001933; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: black;
  background-color: #d6ebff; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: black; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  border-bottom-color: white; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #00070a; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #00070a; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #abcedc; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #abcedc; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #d6ebff; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: whitesmoke; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #d6ebff; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: white; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
  color: black;
  background: #d6ebff; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: black; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: whitesmoke;
  background: #003870; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: whitesmoke;
  background: #00070a; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #001933; }

#collapse-menu:hover {
  color: whitesmoke; }

#collapse-button div:after {
  color: #001933; }

#collapse-menu:hover #collapse-button div:after {
  color: black; }

/* Admin Bar */
#wpadminbar {
  color: whitesmoke;
  background: #0074a3; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  color: whitesmoke; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
  color: #001933; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #d6ebff;
  background: #00070a; }

#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #d6ebff; }

#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: black; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #00070a; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #078ac0; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #abcedc; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before {
  color: #001933; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: #d6ebff; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #d6ebff; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #001933; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: whitesmoke;
  background: #008dc7; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: whitesmoke;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: whitesmoke;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: whitesmoke;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: whitesmoke;
  opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #008dc7;
  background-color: #008dc7; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: whitesmoke; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #d6ebff; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #abcedc; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #d6ebff; }

.wp-pointer .wp-pointer-content h3:before {
  color: #d6ebff; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #d6ebff; }

/* Media Uploader */
.media-item .bar, .media-progress-bar div {
  background-color: #d6ebff; }

.details.attachment {
  box-shadow: 0 0 0 1px white, 0 0 0 5px #d6ebff; }

.attachment.details .check {
  background-color: #d6ebff;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #d6ebff; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after {
  background: #d6ebff; }

.theme-browser .theme.add-new-theme:hover span:after {
  color: #d6ebff; }

.theme-overlay .theme-header .close:hover, .theme-overlay .theme-header .right:hover, .theme-overlay .theme-header .left:hover {
  background: #d6ebff; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus {
  background: #0074a3;
  border-color: #005070;
  -webkit-box-shadow: inset 0 1px 0 #00aaef, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #00aaef, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Thickbox: Plugin information */
#sidemenu a.current {
  background: white;
  border-bottom-color: white; }

#plugin-information .action-button {
  background: #0074a3; }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #001933; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #d6ebff; }

.star-rating .star {
  color: #d6ebff; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #00070a; }
